{% extends "base.html" %}
{% block content %}<hr>


 
	<h1>About the club:</h1>

	Ealing is always looking for new members and offers a warm welcome to chess players of all strengths, nationalities and ages.  
	Whether you are a keen amateur or a budding GM we want to hear from you.  For seasoned players we can offer the opportunity of competitive chess in one of our seven league teams.  
	Alternatively, if you just want to enjoy a game of social chess, there are always members happy to oblige with a game.  
	Although we are not a club for complete beginners, we can promise that your chess will improve with regular practice against our stronger players.
	<p>
	We are fortunate in having a comfortable and relatively tranquil venue in a function room above the Harvester Restaurant and Pub at the corner of Boston Manor Road and Haslemere Avenue W7.  
	Here you can play an enjoyable game with an accompanying drink, or follow your game with a meal from the restauraunt below.
	<p></p>
	We meet on Mondays from 7.30 pm throughout the year, save for Christmas and New Year.
	<p>The club currently runs five teams in the local chess leagues, which run from September to May each year, providing competitive playing opportunities for players of all abilities.  
	Our first teams (both in Division One of their respective leagues) involve contests with some of the strongest players in the area, with top boards typically BCF 175+.  
	Conversely, the Hillingdon League offers a "nursery slope" for the aspiring player.   


	<pre>
	<b>League           Captain              Div     Team	  Strength</b>
	Thames Valley    Mike Lamb            One     1st Team	  BCF 150+
	                 Alastair Jonstone    Two     2nd Team	  BCF 100-150
	                 Geoff Richards       Three   3rd Team    BCF <110
	Middlesex        David Ebbett         One     1st Team	  BCF 150+
	                 Chris Greenshields   Two     2nd Team	  BCF 100-150
	Hillingdon       Pierre Davies        Three   1st Team    BCF <100
	                 David Reichenberg    Three   2nd Team    BCF <100 
	</pre>

	<p>
	During the summer months, the club runs a number of in-house competitions, such as the Summer Handicap Tournament (with playing time determined by grade) and an Annual Lightning Championship.  
	In addition, the Club Championship is played for a prestigious trophy that has been awarded every year since 1903!
	From time to time, the club also hosts special events, such as simultaneous displays or instructional talks from strong players.  
	A few years ago we even played host to a visiting team from Mongolia! 
	We have an excellent Club magazine in which we publish members games and reviews of all the teams performances and results.  
	Members on our e-mail list also receive regular newsletters to keep them informed and entertained.

	<h2>Player Grading</h2>
	All league games are submitted to the ECF (English Chess Federation) for grading.  Dont worry if you dont have a grade when you first join Ð our stronger members will soon form a view of your playing strength and estimate your grade.
	<h2>Club History</h2>
	Ealing has a proud tradition as one of the oldest chess clubs in the country.  Founded in 1885 we have met ever since, including during the two world wars!  It has a long and fascinating history.  If you would like to learn more, follow the link. 
	<h2>Are you interested?</h2> 
	If you are interested in joining the club please either contact the Secretary, 
	<br>David Ebbett - Telephone 0208 997 7872  - Email davidebbett@yahoo.co.uk <br><br>
	Alternatively turn up at the Club any Thursday.  Come along, without obligation and to see if Ealing is the chess club for you.  
	After three visits, if you decide to join, the membership fee becomes due.  The annual subscription is £40 (unwaged £20) due in June each year.

	    </p>

{% endblock %}