{% extends "base.html" %}
{% block content %}
{% load static %}
	<h1>Welcome to Ealing Chess Club's Website</h1>
<hr>
	<p align="justify">We are a friendly &amp; social chess club who try and provide a friendly and competitive environment for chess lovers of all abilities. We are one of the longest established clubs in London, having met weekly since 1885.</p>
	<p align="center">
	<img src="{% static "home/chesspic_a.jpg" %}" width="195" height="140">
	<img src="{% static "home/chesspic_e.jpg" %}" width="195" height="140">
	<img src="{% static "home/chesspic_d.jpg" %}" width="195" height="140">
	</p>
	<p align="justify">Currently our club night is Monday evenings from 7:30pm. In the
	spacious Sports Bar of The Old Actonians Sports Club, Gunnersbury Drive (off Popes Lane), Ealing, London W5 4LL.</p>

	<p align="justify">The venue offers a friendly environment in which to play chess with a good range of beer and light refreshments available to enjoy during or after games. The club is well served by public transport being just an 8 minute walk from Acton Town Tube and on the route of the E3 bus. There is a small car park at the club, along with parking on the ajoining streets (after 7pm)<br> A Map can be found <a href="https://www.google.com/maps/@51.5021573,-0.2887742,18z" TARGET="_blank">here</a></p>
	<p align="justify">During the League season, Junior and some senior matches will take place on selected wednesdays at the former London Victoria Sports Ground in Boddington Gardens W3 9AP<br> A Map can be found <a href="https://goo.gl/maps/5lgSh" TARGET="_blank">here</a></p>
	<p align="justify">New Members (from Grandmaster to beginners!) are always welcome. Feel free to just pop down on a Monday, or even better, give the <a href="contacts">new members co-ordinator</a> a call or email first and we will do our best to ensure there will be a member of the same standard around to give you a good game or two!
	</p>
	{% load seasons_extras %}




		
		
<br>
Click <a title="news" href="/news">here</a> for older news 	
{% endblock %}
</div>
